<section class="content">
    <div class="container-fluid">
        <div class="mb-2">
            &nbsp;
        </div>

        <div class="card card-success">
            <div class="card-header">
                <h3 class="card-title">DELETED USERS</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="card-refresh" data-source="widgets.html" data-source-selector="#card-refresh-content" data-load-on-init="false" (click)="refresh()"><i class="fas fa-sync-alt"></i></button>
                    <button type="button" class="btn btn-tool" data-card-widget="maximize"><i class="fas fa-expand"></i></button>
                    <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                </div>
                <!-- /.card-tools -->
            </div>
            <div class="overlay" *ngIf="load"><i class="fas fa-2x fa-sync-alt fa-spin"></i></div>
            <!-- /.card-header -->
            <div class="card-body">
                <div class="card-body table-responsive p-0">
                    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-hover text-nowrap">
                        <thead>
                            <tr>
                              <th>MEMBER</th>
                              <th>MEMBER UNTIL</th>
                              <th>ENROLLMENT DATE</th>
                              <th>NAME</th>
                              <th>PHONE</th>
                              <th>EMAIL</th>
                              <!-- <th></th> -->
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let user of users">
                                <td> <i class="fa fa-star text-warning" *ngIf="user.DIAS_MEMBRESIA && user.DIAS_MEMBRESIA > 0"></i></td>
                                <td>{{ user.FECHA_VENCIMIENTO | date }}</td>
                                <td>{{ user.FECHA_ALTA | date }}</td>
                                <td>{{ user.NOMBRE }}</td>
                                <td>{{ user.TELEFONO }}</td>
                                <td>{{ user.CORREO }}</td>
                                <!-- <td>
                                    <a class="text-primary" (click)="editUser(user.ID_CLIENTE)">
                                        <i class="fa fa-pencil-alt"></i>
                                    </a>
                                </td> -->
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>