<div class="wrapper" *ngIf="auth.user; else elseTemplate">

  <app-header></app-header>

  <app-menu></app-menu>

  <div class="content-wrapper">
    <router-outlet></router-outlet>
  </div>

  <app-footer></app-footer>

</div>

<ng-template #elseTemplate>
  <div class="login-page">
    <div class="login-box">
      <router-outlet></router-outlet>
    </div>
  </div>
</ng-template>