<section class="content">
    <div class="container-fluid">
        <div class="mb-2">
            &nbsp;
        </div>

        <div class="card card-success">
            <div class="card-header">
                <h3 class="card-title">{{ userName }}</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="maximize"><i class="fas fa-expand"></i></button>
                    <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                </div>
                <!-- /.card-tools -->
            </div>
            <div class="overlay" *ngIf="load"><i class="fas fa-2x fa-sync-alt fa-spin"></i></div>
            <!-- /.card-header -->
            <form [formGroup]="userForm" (ngSubmit)="saveData()" role="form">
                <div class="card-body">
                    <div class="form-group">
                        <label >Name</label>
                        <input type="text" formControlName="NOMBRE" class="form-control" [ngClass]="{'is-invalid': userForm.get('NOMBRE').invalid}" placeholder="Enter name" aria-describedby="exampleInputTitle-error" aria-invalid="true">
                        <span id="exampleInputTitle-error" class="error invalid-feedback">Please enter a vaild name</span>
                    </div>

                    <div class="form-group">
                        <label >Phone</label>
                        <input type="text" formControlName="TELEFONO" class="form-control" [ngClass]="{'is-invalid': userForm.get('TELEFONO').hasError('required') || userForm.get('TELEFONO').hasError('maxlength') || userForm.get('TELEFONO').hasError('minlength')}" placeholder="Enter phone" aria-describedby="exampleInputTelefono-error" aria-invalid="true">
                        <span id="exampleInputTelefono-error" class="error invalid-feedback">Please enter a vaild name</span>
                    </div>
                    
                    <div class="form-group">
                        <label >Email address</label>
                        <input type="email" formControlName="EMAIL" class="form-control" [ngClass]="{'is-invalid': userForm.get('EMAIL').invalid}" placeholder="Enter email address" aria-describedby="exampleInputEmail-error" aria-invalid="true">
                        <span id="exampleInputEmail-error" class="error invalid-feedback">Please enter a vaild name</span>
                    </div>
                    
                    
                    <div class="form-group" *ngIf="!id_user">
                        <label >Password</label>
                        <input type="password" formControlName="PASSWORD" class="form-control" [ngClass]="{'is-invalid': userForm.get('PASSWORD').invalid || userForm.get('PASSWORD').hasError('minlength')}" placeholder="Enter password" aria-describedby="exampleInputPassword-error" aria-invalid="true">
                        <span id="exampleInputPassword-error" class="error invalid-feedback">Please enter a vaild name</span>
                    </div>
                    
                    <div class="form-group">
                        <label >City</label>
                        <input type="text" formControlName="CIUDAD" class="form-control" [ngClass]="{'is-invalid': userForm.get('CIUDAD').invalid}" placeholder="Enter city" aria-describedby="exampleInputCity-error" aria-invalid="true">
                        <span id="exampleInputCity-error" class="error invalid-feedback">Please enter a vaild name</span>
                    </div>

                    <div class="form-group">
                        <label >Country</label>
                        <select class="form-control g-color-black g-brd-gray-light-v3 g-py-15 g-px-15" formControlName="PAIS" [ngClass]="{'is-invalid': userForm.get('PAIS').invalid}" aria-describedby="exampleInputCountry-error" aria-invalid="true">
                            <option></option>
                            <option *ngFor="let pais of paises" value="{{ pais.ID_PAIS }}">{{ pais.NOMBRE }}</option>
                        </select>
                        <span id="exampleInputCountry-error" class="error invalid-feedback">Please enter a vaild name</span>
                    </div>

                    <div *ngIf="!id_user">
                        <hr>
    
                        <h2>Suscription</h2>
                        
                        <div class="form-group">
                            <label >Suscription</label>
                            <select class="form-control g-color-black g-brd-gray-light-v3 g-py-15 g-px-15" formControlName="ID_SUSCRIPTION">
                                <option></option>
                                <option *ngFor="let membresia of membresias" value="{{ membresia.ID_MEMBRESIA }}">{{ membresia.NOMBRE_MEMBRESIA_INGLES }}</option>
                            </select>
                        </div>
                        
                        <div class="form-group">
                            <label >payment method</label>
                            <select class="form-control g-color-black g-brd-gray-light-v3 g-py-15 g-px-15" formControlName="PAYMENT">
                                <option></option>
                                <option *ngFor="let metodo_pago of metodos_pago" value="{{ metodo_pago.ID_METODO_PAGO }}">{{ metodo_pago.NOMBRE_METODO_PAGO }}</option>
                            </select>
                        </div>
                    </div>

                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary float-right" [disabled]="userForm.invalid">{{ text_button }}</button>
                </div>
            </form>
            <!-- /.card-body -->
        </div>
    </div>
</section>