<section class="content">
    <div class="container-fluid">
        <div class="mb-2">
            &nbsp;
        </div>

        <div class="card card-success">
            <div class="card-header">
                <h3 class="card-title">{{ pick_name }}</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="maximize"><i class="fas fa-expand"></i></button>
                    <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                </div>
                <!-- /.card-tools -->
            </div>
            <div class="overlay" *ngIf="load"><i class="fas fa-2x fa-sync-alt fa-spin"></i></div>
            <!-- /.card-header -->
            <form [formGroup]="picksForm" (ngSubmit)="saveData()" role="form">
                <div class="card-body">
                    <div class="form-group">
                        <label >Title</label>
                        <input type="text" formControlName="TITULO" class="form-control" [ngClass]="{'is-invalid': picksForm.get('TITULO').hasError('maxlength')}" placeholder="Enter Title" aria-describedby="exampleInputTitle-error" aria-invalid="true">
                        <span id="exampleInputTitle-error" class="error invalid-feedback">Please enter a vaild title</span>
                    </div>

                    <div class="form-group">
                        <label>Date</label>
                        <div class="input-group date">
                            <input type="date" class="form-control datetimepicker-input" formControlName="FECHA" class="form-control float-right" [ngClass]="{'is-invalid': picksForm.get('FECHA').errors.dateVaidator}" aria-describedby="exampleInputDate-error" aria-invalid="true"/>
                            <span id="exampleInputDate-error" class="error invalid-feedback">Please enter a vaild date</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="exampleInputEmail1">Description</label>
                        <textarea class="form-control" rows="5" formControlName="DESCRIPCION" class="form-control" [ngClass]="{'is-invalid': picksForm.get('DESCRIPCION').hasError('required')}" placeholder="Enter Description" aria-describedby="exampleInputEmail1-error" aria-invalid="true"></textarea>
                        <span id="exampleInputEmail1-error" class="error invalid-feedback">Please enter a vaild title</span>
                    </div>


                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary float-right" [disabled]="(picksForm.get('TITULO').hasError('maxlength')  ||
                                                                                        picksForm.get('TITULO').hasError('required') ) ||
                                                                                        picksForm.get('DESCRIPCION').hasError('required') ||
                                                                                        (picksForm.get('FECHA').errors.dateVaidator ||
                                                                                        picksForm.get('FECHA').hasError('required') )">{{ text_button }}</button>
                </div>
            </form>
            <!-- /.card-body -->
        </div>
    </div>
</section>