<section class="content">
    <div class="container-fluid">
        <div class="mb-2">
            &nbsp;
        </div>

        <div class="card card-success">
            <div class="card-header">
                <h3 class="card-title">{{ notice_name }}</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="maximize"><i class="fas fa-expand"></i></button>
                    <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                </div>
                <!-- /.card-tools -->
            </div>
            <div class="overlay" *ngIf="load"><i class="fas fa-2x fa-sync-alt fa-spin"></i></div>
            <!-- /.card-header -->
            <form [formGroup]="NoticeForm" (ngSubmit)="saveData()" role="form">
                <div class="card-body">
                    <div class="form-group">
                        <label >Title</label>
                        <input type="text" formControlName="TITULO" class="form-control" [ngClass]="{'is-invalid': NoticeForm.get('TITULO').hasError('maxlength')}" placeholder="Enter Title" aria-describedby="exampleInputTitle-error" aria-invalid="true">
                        <span id="exampleInputTitle-error" class="error invalid-feedback">Please enter a vaild title</span>
                    </div>

                    <div class="form-group">
                        <label for="exampleInputEmail1">Imagen</label>
                        <input type="text" formControlName="IMAGEN" class="form-control" [ngClass]="{'is-invalid': NoticeForm.get('IMAGEN').hasError('maxlength')}" placeholder="Enter Url Image" aria-describedby="exampleInputTitle-error" aria-invalid="true">
                        <span id="exampleInputEmail1-error" class="error invalid-feedback">Please enter a vaild title</span>
                    </div>

                    
                    <div class="form-group">
                        <label for="exampleInputEmail1">Content</label>
                        <angular-editor id="exampleInputText" formControlName="CONTENIDO" [config]="editorConfig"></angular-editor>
                    </div>

                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary float-right" >{{ text_button }}</button>
                </div>
            </form>
            <!-- /.card-body -->
        </div>
    </div>
</section>