<!-- Start Account -->
<div class="container g-pt-70 g-pb-30">
    <div class="row">
        <!-- Profile Settings -->
        <div class="col-lg-3 g-mb-50">
            <aside class="g-brd-around g-brd-gray-light-v4 rounded g-px-20 g-py-30">
                <!-- Profile Picture -->
                <div class="text-center g-pos-rel g-mb-30">
                    <div class="g-width-100 g-height-100 mx-auto mb-3">
                        <img class="img-fluid rounded-circle" src="assets/img/logo/bmh-logo-dark-green-220x250.png" alt="Image Decor">
                    </div>

                    <span class="d-block g-font-weight-500">{{ menu.usuario.NOMBRE }}</span>
                    <span class="d-block g-font-weight-500">{{ menu.usuario.VENCIMIENTO }} membership {{ menu.usuario.VENCIMIENTO !> 1 ? 'days' : 'day' }} </span>

                </div>
                <!-- End Profile Picture -->

                <hr class="g-brd-gray-light-v4 g-my-30">

                <!-- Profile Settings List -->
                <ul class="list-unstyled mb-0">

                    <li class="g-py-3">
                        <a [ngClass]="{'active': tab == 1}" class="d-block align-middle u-link-v5 g-color-text g-color-primary--hover g-bg-gray-light-v5--hover g-color-primary--parent-active g-bg-gray-light-v5--active rounded g-pa-3" (click)="changeTab(1)">
                            <span class="u-icon-v1 g-color-gray-dark-v5 mr-2"><i class="icon-finance-067 u-line-icon-pro"></i></span>
                            User data
                        </a>
                    </li>

                    <li class="g-pb-3">
                        <a [ngClass]="{'active': tab == 2}" class="d-block align-middle u-link-v5 g-color-text g-color-primary--hover g-bg-gray-light-v5--hover g-color-primary--parent-active g-bg-gray-light-v5--active rounded g-pa-3" (click)="changeTab(2)">
                            <span class="u-icon-v1 g-color-gray-dark-v5 mr-2"><i class="icon-finance-135 u-line-icon-pro"></i></span>
                            Change password
                        </a>
                    </li>

                    <li class="g-py-3">
                        <a class="d-block align-middle u-link-v5 g-color-text g-color-primary--hover g-bg-gray-light-v5--hover rounded g-pa-3" [routerLink]="['/membership']">
                            <span class="u-icon-v1 g-color-gray-dark-v5 mr-2"><i class="icon-finance-260 u-line-icon-pro"></i></span>
                            Membership
                        </a>
                    </li>


                </ul>
                <!-- End Profile Settings List -->
            </aside>
        </div>
        <!-- End Profile Settings -->

        <!-- Login & Security -->
        <form class="col-lg-9 g-mb-50" [formGroup]="userForm" (ngSubmit)="updateUser()" role="form" *ngIf="tab == 1">
            <!-- Info -->
            <div class="g-brd-around g-brd-gray-light-v4 rounded g-pa-30 g-mb-30">
                <div class="row">
                    <div class="col-12">
                        <span class="d-block g-color-text g-font-size-13 mb-1">Name:</span>
                        <input type="text" class="form-control g-color-black g-brd-gray-light-v3 g-py-15 g-px-15" formControlName="NOMBRE">
                    </div>
                </div>

                <hr class="g-brd-gray-light-v4 g-my-20">

                <div class="row">
                    <div class="col-12">
                        <span class="d-block g-color-text g-font-size-13 mb-1">Email:</span>
                        <span class="d-block">{{ menu.usuario.CORREO }}</span>
                    </div>
                </div>

                <hr class="g-brd-gray-light-v4 g-my-20">

                <div class="row">
                    <div class="col-12">
                        <span class="d-block g-color-text g-font-size-13 mb-1">Mobile Phone Number:</span>
                        <input type="text" class="form-control g-color-black g-brd-gray-light-v3 g-py-15 g-px-15" formControlName="TELEFONO">
                    </div>
                </div>

                <hr class="g-brd-gray-light-v4 g-my-20">

                <div class="row">
                    <div class="col-12">
                        <span class="d-block g-color-text g-font-size-13 mb-1">City:</span>
                        <input type="text" class="form-control g-color-black g-brd-gray-light-v3 g-py-15 g-px-15" formControlName="CIUDAD">
                    </div>
                </div>

                <hr class="g-brd-gray-light-v4 g-my-20">

                <div class="row">
                    <div class="col-12">
                        <span class="d-block g-color-text g-font-size-13 mb-1">Country:</span>
                        <select class="js-custom-select u-select-v1 g-brd-gray-light-v3 g-color-gray-dark-v5 rounded g-py-12" style="width: 100%;" data-placeholder="Country" data-open-icon="fa fa-angle-down" data-close-icon="fa fa-angle-up" formControlName="PAIS">
                            <option></option>
                            <option *ngFor="let pais of paises" value="{{ pais.ID_PAIS }}">{{ pais.NOMBRE }}</option>
                        </select>
                    </div>
                </div>
            </div>
            <!-- End Info -->

            <button class="btn u-btn-primary g-font-size-12 text-uppercase g-py-12 g-px-25" type="submit" [disabled]="userForm.invalid || false">Update</button>
        </form>
        <!-- End Login & Security -->

        <!-- Change Password -->
        <form class="col-lg-9 g-mb-50" [formGroup]="passwordForm" (ngSubmit)="changePasword()" role="form" *ngIf="tab == 2">
            <!-- Info -->
            <div class="g-brd-around g-brd-gray-light-v4 rounded g-pa-30 g-mb-30">
                <div class="row">
                    <div class="col-12">
                        <span class="d-block g-color-text g-font-size-13 mb-1">Current password:</span>
                        <input type="password" class="form-control g-color-black g-brd-gray-light-v3 g-py-15 g-px-15" formControlName="PASSWORD">
                    </div>
                </div>

                <hr class="g-brd-gray-light-v4 g-my-20">

                <div class="row">
                    <div class="col-12">
                        <span class="d-block g-color-text g-font-size-13 mb-1">New password (min. 6 characters):</span>
                        <input type="password" class="form-control g-color-black g-brd-gray-light-v3 g-py-15 g-px-15" formControlName="NEW_PASSWORD">
                    </div>
                </div>

                <p *ngIf="error" class="text-danger" style="margin-top: 2em">Current password invalid</p>

            </div>
            <!-- End Info -->

            <button class="btn u-btn-primary g-font-size-12 text-uppercase g-py-12 g-px-25" type="submit" [disabled]="passwordForm.invalid || false">Change password</button>
        </form>
        <!-- End Change Password -->
    </div>
</div>
<!-- End Account -->