<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a [routerLink]="['/']" class="brand-link elevation-4">
      <img src="assets/img/logo/logo-45x60.png"
           alt="AdminLTE Logo"
           class="brand-image img-circle elevation-3"
           style="opacity: .8">
      <span class="brand-text font-weight-light">Big Money Hitters</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="assets\img\logo\bmh-logo-220x250-01.png" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="#" class="d-block">{{ auth.user.NOMBRE }}</a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item">
            <a [routerLink]="['/']" class="nav-link">
              <i class="nav-icon fas fa-chart-pie"></i>
              <p>
                Dashboard
              </p>
            </a>
          </li>

          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-newspaper"></i>
              <p>
                Picks
                <i class="fas fa-angle-right right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a [routerLink]="['/picks/new-picks']" class="nav-link">
                  <i class="fas fa-plus-circle nav-icon"></i>
                  <p>New Picks</p>
                </a>
              </li>
              <li class="nav-item">
                <a [routerLink]="['/picks']" class="nav-link">
                  <i class="far fa-id-card nav-icon"></i>
                  <p>Admin picks</p>
                </a>
              </li>
            </ul>
          </li>

          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-table"></i>
              <p>
                News
                <i class="fas fa-angle-right right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a [routerLink]="['/news/create-news']" class="nav-link">
                  <i class="fas fa-plus-circle nav-icon"></i>
                  <p>Create news</p>
                </a>
              </li>
              <li class="nav-item">
                <a [routerLink]="['/news']" class="nav-link">
                  <i class="far fa-newspaper nav-icon"></i>
                  <p>Admin news</p>
                </a>
              </li>
            </ul>
          </li>

          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-users"></i>
              <p>
                Users
                <i class="fas fa-angle-right right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a [routerLink]="['/user/new-user']" class="nav-link">
                  <i class="fa fa-user-plus nav-icon"></i>
                  <p>New User</p>
                </a>
              </li>
              <li class="nav-item">
                <a [routerLink]="['/users']" class="nav-link">
                  <i class="far fa-user nav-icon"></i>
                  <p>Admin user</p>
                </a>
              </li>
            </ul>
          </li>

          <li class="nav-item">
            <a [routerLink]="['/users/history']" class="nav-link">
              <i class="far fa-user nav-icon"></i>
              <p>Membership History</p>
            </a>
          </li>

        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>