<section class="content">
    <div class="container-fluid">
        <div class="mb-2">
            &nbsp;
        </div>

        <div class="card card-success">
            <div class="card-header">
                <h3 class="card-title">Memberships of the month</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" (click)="initPeriod()"><i class="fas fa-sync-alt"></i></button>
                    <button type="button" class="btn btn-tool" data-card-widget="maximize"><i class="fas fa-expand"></i></button>
                    <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                </div>
                <!-- /.card-tools -->
            </div>
            <div class="overlay" *ngIf="load.periodo"><i class="fas fa-2x fa-sync-alt fa-spin"></i></div>
            <!-- /.card-header -->
            <div class="card-body">
                <div class="card-body p-0">
                    <div class="row">
                        <div class="col-sm-12 col-md-4">
                            <div class="form-group">
                                <label>Start date</label>
                                <div class="input-group date">
                                    <input type="date" class="form-control datetimepicker-input" [(ngModel)]="fechas.inicio" class="form-control float-right" [ngClass]="{'is-invalid': !validDates(fechas.inicio)}" aria-describedby="StartDate-error" aria-invalid="true" />
                                    <span id="StartDate-error" class="error invalid-feedback">Please enter a vaild date</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <div class="form-group">
                                <label>End date</label>
                                <div class="input-group date">
                                    <input type="date" class="form-control datetimepicker-input" [(ngModel)]="fechas.fin" class="form-control float-right" [ngClass]="{'is-invalid': !validDates(fechas.fin)}" aria-describedby="EndDate-error" aria-invalid="true"/>
                                    <span id="EndDate-error" class="error invalid-feedback">Please enter a vaild date</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-2">
                            <button class="btn btn-primary" style="margin-top: 2em;" (click)="initPeriod()">Buscar</button>
                        </div>
                    </div>

                    <canvas id="pieChartPeriod"></canvas>
                </div>
            </div>
        </div>

        <div class="card card-success">
            <div class="card-header">
                <h3 class="card-title">Annual membership purchase</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" (click)="initMembresias()"><i class="fas fa-sync-alt"></i></button>
                    <button type="button" class="btn btn-tool" data-card-widget="maximize"><i class="fas fa-expand"></i></button>
                    <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                </div>
                <!-- /.card-tools -->
            </div>
            <div class="overlay" *ngIf="load.anual"><i class="fas fa-2x fa-sync-alt fa-spin"></i></div>
            <!-- /.card-header -->
            <div class="card-body">
                <div class="card-body p-0">
                    <canvas id="pieChartAnual"></canvas>
                </div>
            </div>
        </div>
    </div>
</section>