<section class="content">
    <div class="container-fluid">
        <div class="mb-2">
            &nbsp;
        </div>

        <div class="card card-success">
            <div class="card-header">
                <h3 class="card-title">USERS</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" (click)="deletedUsers()">DELETED USERS</button>
                    <button type="button" class="btn btn-tool" data-card-widget="card-refresh" data-source="widgets.html" data-source-selector="#card-refresh-content" data-load-on-init="false" (click)="refresh()"><i class="fas fa-sync-alt"></i></button>
                    <button type="button" class="btn btn-tool" data-card-widget="maximize"><i class="fas fa-expand"></i></button>
                    <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                </div>
                <!-- /.card-tools -->
            </div>
            <div class="overlay" *ngIf="load"><i class="fas fa-2x fa-sync-alt fa-spin"></i></div>
            <!-- /.card-header -->
            <div class="card-body">
                <div class="card-body table-responsive p-0">
                    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-hover text-nowrap">
                        <thead>
                            <tr>
                              <th>MEMBER</th>
                              <th>MEMBER UNTIL</th>
                              <th>ENROLLMENT DATE</th>
                              <th>NAME</th>
                              <th>PHONE</th>
                              <th>EMAIL</th>
                              <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let user of users">
                                <td> <i class="fa fa-star text-warning" *ngIf="user.DIAS_MEMBRESIA && user.DIAS_MEMBRESIA > 0"></i></td>
                                <td>{{ user.FECHA_VENCIMIENTO | date }}</td>
                                <td>{{ user.FECHA_ALTA | date }}</td>
                                <td>{{ user.NOMBRE }}</td>
                                <td>{{ user.TELEFONO }}</td>
                                <td>{{ user.CORREO }}</td>
                                <td>
                                    <a class="text-primary" (click)="editUser(user.ID_CLIENTE)">
                                        <i class="fa fa-pencil-alt"></i>
                                    </a>
                                    &nbsp;
                                    <a class="text-primary" (click)="historyUser(user.ID_CLIENTE)">
                                        <i class="fa fa-address-book"></i>
                                    </a>
                                    &nbsp;
                                    <a class="text-primary" (click)="insertMembership(user.ID_CLIENTE, mymodal)">
                                        <i class="fa fa-dollar-sign"></i>
                                    </a>
                                    &nbsp;
                                    <a class="text-danger" (click)="deleteUser(user.ID_CLIENTE)">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<ng-template #mymodal let-modal>
    <form [formGroup]="userForm" (ngSubmit)="saveData()" role="form">
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Suscription</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">
            <div>
                <div class="form-group">
                    <label >Suscription</label>
                    <select class="form-control g-color-black g-brd-gray-light-v3 g-py-15 g-px-15" formControlName="ID_SUSCRIPTION">
                        <option></option>
                        <option *ngFor="let membresia of membresias" value="{{ membresia.ID_MEMBRESIA }}">{{ membresia.NOMBRE_MEMBRESIA_INGLES }}</option>
                    </select>
                </div>
                
                <div class="form-group">
                    <label >payment method</label>
                    <select class="form-control g-color-black g-brd-gray-light-v3 g-py-15 g-px-15" formControlName="PAYMENT">
                        <option></option>
                        <option *ngFor="let metodo_pago of metodos_pago" value="{{ metodo_pago.ID_METODO_PAGO }}">{{ metodo_pago.NOMBRE_METODO_PAGO }}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-outline-dark" >Save</button>
        </div>
    </form>
  </ng-template>