<footer class="main-footer">
    <div class="float-right d-none d-sm-block">
      <b>Version</b> 3.0.5
    </div>
    <strong>Copyright &copy; 2014-{{ year }} <a href="https://Maindsoft.net">Maindsoft</a>.</strong> All rights
    reserved.
</footer>